[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Carlosngv/client-gateway
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-Carlosngv/products-microservice
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Nest-Microservices-Carlosngv/orders-microservice
[submodule "payments-microservice"]
	path = payments-microservice
	url = https://github.com/Nest-Microservices-Carlosngv/payments-microservice
[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/Nest-Microservices-Carlosngv/auth-microservice
