[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Carlosngv/client-gateway
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-Microservices-Carlosngv/products-microservice
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/Nest-Microservices-Carlosngv/orders-microservice
